<%- include('../partials/head') %>
<%- include('../partials/header') %>

<script src="https://www.paypal.com/sdk/js?client-id=<%= clientId %>&vault=true&intent=subscription"></script>

<div id="paypal-button-container"></div>

<script>
  paypal.Buttons({
    createSubscription: function (data, actions) {
     return actions.subscription.create({
       'plan_id': '<%= planId %>' // Creates the subscription
      });
    },
    onApprove: async function (data, actions) {
      console.log('onApprove', data);
      console.log('actions', actions);
      // fetch api with post method and data
      try {
        const result = await fetch(
          `http://127.0.0.1:3000/subscription/checkout/<%= planId %>`,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              planId: '<%= planId %>',
              subscriptionID: data.subscriptionID,
            })
          })
        const details = await result.json();
        console.log('details', details)
        alert('Done')
        window.location.href = '/memberships'
      } catch (err) {
        console.error(err)
        alert('Error')
      }
    }
  }).render('#paypal-button-container'); // Renders the PayPal button
</script>

<%- include('../partials/footer') %>
