<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>Hi there!</h1>
    <% if (!isAuth) { %>
        <p>You are not logged in.</p>
    <% } else { %>
        <h2>Email: <%= user?.email %></h2>
        <h2>Role: <%= user?.roles.join(',') %></h2>
    <% } %>
</div>

<%- include('../partials/footer') %>
